.event-list {
    margin: 20px 0;
}

.event {
    background: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
}

.event h3 {
    margin: 0 0 10px 0;
}

.event p {
    margin: 5px 0;
}

/* Existing styles for upcoming events */

.live-event-list {
margin: 20px 0;
}

.live-event {
background: #f9f9f9;
padding: 15px;
border: 1px solid #ddd;
border-radius: 8px;
margin-bottom: 10px;
}

.live-event h3 {
margin: 0 0 10px 0;
}

.live-event p {
margin: 5px 0;
}
ul {
display: flex;
justify-content: space-between;
}
.dashboard-links ul {
list-style-type: none;
padding: 0;
}

.dashboard-links ul li {
margin-bottom: 10px;
}

.dashboard-links ul li a {
display: block;
padding: 10px;
background-color: #007bff;
color: #fff;
text-decoration: none;
border-radius: 5px;
text-align: center;
}

.dashboard-links ul li a:hover {
background-color: #0056b3;
}
/* Search Container Styles */
.search-container {
display: flex;
align-items: center;
background-color: #fff;
padding: 5px 10px;
border-radius: 25px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
max-width: 1175px;
width: 100%;
}

/* Search Bar Styles */
#search-bar {
flex-grow: 1;
border: none;
padding: 10px;
border-radius: 25px;
outline: none;
font-size: 16px;
background-color: #f0f2f5;
margin-right: 10px;
}

/* Search Button Styles */
#search-button {
padding: 10px 20px;
background-color: #007bff;
color: white;
border: none;
border-radius: 25px;
cursor: pointer;
font-size: 16px;
transition: background-color 0.3s ease;
}

#search-button:hover {
background-color: #0056b3;
}
