<div class="container">
    <h2>INTERACTIVE SPORTS EVENT  </h2>
    <div class="search-container">
        <input type="text" id="search-bar" placeholder="Search...">
        <button id="search-button">Search</button>
    </div>
    <div class="dashboard-links button_container" >
        <ul>
            <li><a routerLink="/dashbody">Home</a></li>
            <!-- <li><a href="registration.html">Registration</a></li> -->
            <li><a routerLink="/requestmatch">Request Match</a></li>
            <li><a routerLink="/viewevents">View Events</a></li>
            <li><a routerLink="/approvematch">Approve Match Request</a></li>
            <!-- <li><a routerLink="">request ticket</a></li> -->
            <!-- Add more links as needed -->
        </ul>
    </div>
    <div class="other-information">
        <h3>Upcoming Event</h3>
        <p>Event Name: Event XYZ</p>
        <p>Date: 2024-06-20</p>
        <p>Location: Stadium ABC</p>
    </div>
    <div class="other-information">
        <!-- <h3>Upcoming Event</h3> -->
        <p>Event Name: Event XYZ</p>
        <p>Date: 2024-06-20</p>
        <p>Location: Stadium ABC</p>
    </div>
</div>
